<footer class="flex flex-col p-20">
    <div class="mx-auto text-center text-sm">
        <p>Christian Curau Architecte DPLG<br />
            Architecte Conservateur du Palais Princier<br />
            41, Boulevard des Moulins - 98000 Monaco
        </p>
    </div>

    <div class="mx-auto">
        <a href="https://www.architectes-monaco.com" target="_blank">
            <img src="/images/conseil-ordre-architectes.png" alt="Conseil de l'Ordre des Architectes de Monaco">
        </a>
    </div>
</footer>