{{ define "main" }}
    <main class="grid md:grid-cols-2 gap-4 pb-28">
      {{ with .Site.GetPage "projets" }}
          {{ range .Pages.ByWeight }}
            {{ $vignette := index (.Params.images) 0 }}
              <a href="{{ .Permalink }}"
                class="border border-gray-600 bg-auto bg-no-repeat bg-center h-80 cursor-pointer"
                style="background-image: url({{.Permalink}}{{$vignette}})">

                <div class="flex flex-row justify-between bg-gray-900 bg-opacity-75 p-5">
                  <h3 class>
                    {{ .Title }}
                  </h3>

                  <div class="flex flex-row text-gray-200 text-opacity-50">
                    {{ with .Params.youtube_video_urls }}
                      {{- partial "film-icon.html" . -}}
                    {{end}}
                  </div>
                </div>
              </a>
          {{ end }}
      {{ end }}
    </main>
{{ end }}
